server: # REST and WS server
  port: 2333
  address: 0.0.0.0
  http2:
    enabled: true # Whether to enable HTTP/2 support

lavalink:
  plugins:
    - dependency: 'com.github.topi314.lavasearch:lavasearch-plugin:1.0.0'
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'com.dunctebot:skybot-lavalink-plugin:1.6.3'
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'com.github.topi314.sponsorblock:sponsorblock-plugin:3.0.0'
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'me.rohank05:lavalink-filter-plugin:0.0.4'
      repository: 'https://jitpack.io'
    - dependency: 'net.esmbot:lava-xm-plugin:0.2.4'
      repository: 'https://repo.projectlounge.pw/maven/releases'
    - dependency: 'me.duncte123:java-lyrics-plugin:1.6.0'
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'dev.lavalink.youtube:youtube-plugin:1.7.2'
      repository: 'https://maven.lavalink.dev/releases'

  server:
    password: 'youshallnotpass'
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: true
    filters: # All filters are enabled by default
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true
    bufferDurationMs: 400 # The duration of the NAS buffer. Higher values fare better against longer GC pauses. Duration <= 0 to disable JDA-NAS. Minimum of 40ms, lower values may introduce pauses.
    frameBufferDurationMs: 5000 # How many milliseconds of audio to keep buffered
    opusEncodingQuality: 10 # Opus encoder quality. Valid values range from 0 to 10, where 10 is best quality but is the most expensive on the CPU.
    resamplingQuality: LOW # Quality of resampling operations. Valid values are LOW, MEDIUM and HIGH, where HIGH uses the most CPU.
    trackStuckThresholdMs: 10000 # The threshold for how long a track can be stuck. A track is stuck if does not return any audio data.
    useSeekGhosting: true # Seek ghosting is the effect where whilst a seek is in progress, the audio buffer is read from until empty, or until seek is ready.
    youtubePlaylistLoadLimit: 6 # Number of pages at 100 each
    playerUpdateInterval: 5 # How frequently to send player updates to clients, in seconds
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

plugins:
  youtube:
    enabled: true # Whether this source can be used.
    allowSearch: true # Whether "ytsearch:" and "ytmsearch:" can be used.
    allowDirectVideoIds: true # Whether just video IDs can match. If false, only complete URLs will be loaded.
    allowDirectPlaylistIds: true # Whether just playlist IDs can match. If false, only complete URLs will be loaded.
    # The clients to use for track loading. See below for a list of valid clients.
    # Clients are queried in the order they are given (so the first client is queried first and so on...)
    clients:
      - MUSIC
      - ANDROID_TESTSUITE
      - WEB
      - TVHTML5EMBEDDED
  lyrics:
    countryCode: en #country code for resolving isrc tracks
  dunctebot:
    ttsLanguage: 'en-AU' # language of the TTS engine
    sources:
      # true = source enabled, false = source disabled
      getyarn: true # www.getyarn.io
      clypit: true # www.clyp.it
      tts: true # speak:Words to speak
      pornhub: true # should be self-explanatory
      reddit: true # should be self-explanatory
      ocremix: true # www.ocremix.org
      tiktok: true # tiktok.com
      mixcloud: true # mixcloud.com
      soundgasm: true # soundgasm.net

logging:
  file:
    path: ./logs/

  level:
    root: INFO
    lavalink: INFO

  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000

  logback:
    rollingpolicy:
      max-file-size: 1GB
      max-history: 30
